.parent {
  display: flex;
  flex-direction: column;
  height: 300px; /* Or whatever */
}

.child {
  background-color: blue;
  width: 250px; /* Or whatever */
  height: 120px; /* Or whatever */
  margin: auto; /* Magic! */
  box-sizing: border-box;
  border-bottom: 2px solid black;
}
